@using SoftwareDevelopment2.ViewModels;
@model SearchViewModel
<h4>Search for a Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResult">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SearchOn" class="control-label"></label>
                <div class="col-md-10">
                    <select asp-for="SearchOn" asp-items="Html.GetEnumSelectList<SearchOn>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="SearchOn" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


